/* Base Form Styles */

/* Base Inputs Styles */
textarea {
  resize: none;
}

input,
textarea {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  background: none;
  color: $project-white-color;
  font-weight: 100;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $mat-width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $project-accent-color;
  appearance: none;
  -webkit-appearance: none;
}

input {
  &[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}
