@import './base.scss';
@import './breakpoints.scss';

body {
  display: flex;
}
#app {
  margin: 0 auto;
  padding: 0px;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: normal;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: var(--vt-ui-grid-border-color);
  min-height: 102vh;
}
main {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--color-background);
  margin-top: 15%;
  @media (max-width: 1024px) {
    margin-top: unset;
  }
}
h1 {
  margin: 1rem 0 1rem 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #70c4ec;
  transition: 0.4s;
  &.router-link-active {
    display: none;
  }
  &:hover {
    color: #fff;
  }
}
b {
  font-weight: 700;
}
.no-data {
  opacity: 0.2;
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }
}
