/**
* SASS variables
*/
@import './breakpoints.scss';

$mat-bg-color: hsl(208, 25%, 12%);
$mat-hl-color: #f0ff00;

$project-accent-color: #04aaa8;
$project-secondary-color: #f0ff00;
$project-panel-bg-color: #04aaa8de;
$project-status-icon-green: rgb(85, 204, 68);
$project-status-icon-red: rgb(214, 61, 46);

$mat-muted-color: mix(white, $mat-bg-color, 70%);
$mat-trans-time: 300ms;
$mat-width: 100%;
$mat-border-radius: 3px;

$gutter: 0.5em;
$flex-columns: 12;
$flex-col-margin: 1em;
$container-width: 100%;
$container-devices-margin: 1.5em;
